html,
body,
#root {
  background: rgb(253, 253, 253) none repeat scroll 0% 0%;
}

header > h3 {
  text-align: center;
}
textarea {
  font-family: monospace;
}

select::-ms-expand {
  display: none;
}
select {
  -moz-appearance: none;
}
label {
  margin-top: 0.5rem;
}
.code-container {
  margin: 50px auto;
  border-top: 1px solid black;
  padding-top: 50px;
}
.notification-container {
  margin-top: 50px;
}
.counter-badge {
  padding: 10px !important;
}

h5 > .badge-info {
  font-size: 12px !important;
}

.code-container > pre {
  padding: 1em !important;
  border-radius: 0px !important;
  margin: 0.5em 0px 1em !important;
  border: none !important;
}
.list-group-item {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  cursor: pointer;
}

.list-group-item.active {
  z-index: 2;
  color: rgb(145, 154, 161) !important;
  background-color: #eceeef !important;
  border-color: #eceeef !important;
}
#saveNewSnippet {
  margin-top: 20px;
}

#snippetTextArea {
  color: black;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  hyphens: none;
  position: relative;
  margin: 0.5em 0px 1em;
  overflow: visible;
  box-sizing: border-box;
}

#navMenu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

#searchSnippetInput {
  border: 2px solid rgba(0, 0, 0, 0.05);
  background: white;
}
#searchSnippetInput:focus {
  box-shadow: none;
}
@media all and (max-width: 768px) {
  #navMenu {
    position: relative;
    top: auto;
    right: auto;
    z-index: 1;
    flex-direction: column;
    width: 100%;
  }
}
